@layer components {

  .header-button {
    @apply text-mygrey hover:text-myblack hover:bg-mygrey-light;
  }

  .menu-span {
    @apply bg-white rounded-sm;
  }

  /*
  login/register
  */

  .link-accent {
    @apply text-accent font-medium hover:underline ml-2;
  }

  .input-icon {
    @apply w-4 h-4;
  }

  .eye-button {
    @apply focus:outline-none flex items-center justify-center cursor-pointer;
  }

  /*chat*/

  .message-block {
    max-width: 60%;
    @apply border border-mygrey-lighter rounded-md p-2 break-all bg-mygrey-lighter;
  }

  .typing-indicator {
    @apply w-1.5 h-1.5 rounded-full bg-mygrey animate-bounce;
  }

  .message-icon {
    @apply size-10 mt-1 p-1 rounded-full bg-mygrey-lighter;
  }

  /*common*/
  .medicine-title{
    @apply text-2xl max-lg:text-lg;
  }

  .titles-block {
    @apply flex flex-col items-start gap-2;
  }

  .accent-block {
    @apply border border-mygrey-lighter rounded-md bg-mywhite;
  }

  .flex-colum {
    @apply flex flex-col gap-4;
  }

  .flex-myrow {
    @apply flex flex-row;
  }

  .background-blur {
    border-radius: 1rem;
    backdrop-filter: blur(9px);
    -webkit-backdrop-filter: blur(9px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    background-color: var(--black-transparent);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  }

  /*pagination*/

  .pagination-button {
    @apply w-28 hover:text-accent max-sm:w-10;
  }

  /*
  medication page
  */

  .medication-info-block {
    @apply gap-8;
    flex: 2;

    @media (max-width: 80rem) {
      flex: 1.5;
    }
  }

  .info-block {
    @apply bg-mywhite rounded-md border border-mygrey-lighter p-4 gap-8;
  }

  .card-block {
    @apply border-mygrey-lighter border flex gap-16 py-6 px-4 max-xl:flex-col max-xl:gap-8;
  }

  .card-info {
    @apply flex gap-2 items-center;
  }

  .medication-aside {
    @apply border-l px-4 py-0 border-mygrey-lighter gap-10 flex-1;

    @media (max-width: 60rem) {
      @apply px-0 py-4 border-0 border-t;
    }
  }

  .card-icon {
    @apply w-10 h-10 rounded-sm flex items-center justify-center;
  }

  /*
  dashboard
  */

  .dashboard-page {
    @apply flex flex-col w-full h-full;
  }

  .chart-block {
    @media (max-width: 1200px) {
      @apply flex-col;
    }
  }

  .category-grid {
    @apply grid grid-cols-2 h-fit gap-4;

    @media (max-width: 650px) {
      @apply grid-cols-1;
    }
  }
}