@import "tailwindcss";

@layer base {
    :root {
        --accent-color: #3874FF;
        --accent-color-lighter: #E5EDFF;

        --green: #ACE4A2;
        --green-lighter: #DBF9D7;
        --green-darker: #53D633;

        --orange: #FADD9A;
        --orange-lighter: #F8EDD4;
        --orange-darker: #D6883A;

        --red: #FAA69A;
        --red-lighter: #F8D9D6;
        --red-darker: #D63F3A;

        --white: #FFFFFF;
        --black: #141828;

        --grey: #56627D;
        --grey-light: #f5f7fa;
        --grey-lighter: #E0E3EB;
        --grey-dark: #E3E6ED;
        --grey-darker: #31374A;

        --aquamarine: #25A7EF;
        --aquamarine-lighter: #C7EBFF;
    }

    body {
        background-color: var(--white);
        color: var(--black);
    }
}

@theme {
    --color-accent: var(--accent-color);
    --color-accent-lighter: var(--accent-color-lighter);

    --color-mygreen: var(--green);
    --color-mygreen-lighter: var(--green-lighter);
    --color-mygreen-darker: var(--green-darker);

    --color-myorange: var(--orange);
    --color-myorange-lighter: var(--orange-lighter);
    --color-myorange-darker: var(--orange-darker);

    --color-myred: var(--red);
    --color-myred-lighter: var(--red-lighter);
    --color-myred-darker: var(--red-darker);

    --color-mywhite: var(--white);
    --color-myblack: var(--black);

    --color-mygrey: var(--grey);
    --color-mygrey-light: var(--grey-light);
    --color-mygrey-lighter: var(--grey-lighter);
    --color-mygrey-dark: var(--grey-dark);
    --color-mygrey-darker: var(--grey-darker);

    --color-myaquamarine: var(--aquamarine);
    --color-myaquamarine-lighter: var(--aquamarine-lighter);
}